@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.background{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #d7ad5e;
  color: #4d1770;
}

.loginHeader {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 30px;
}

.login-form label{
  color: rgb(255, 255, 255) !important;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px !important;
}

.header {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.footerText {
  font-size: 15px;
}

.headerText {
  font-size: 20px;
  float: left;
  color: white;
}