@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.background{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: rgb(215, 173, 94);
  color: rgb(125, 94, 32);
}

.loginHeader {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 30px;
}

.login-form label{
  color: rgb(255, 255, 255) !important;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 16px !important;
}